#home{
  display: flex;
  flex-direction: column;
  width: 90vh;
  position: relative;
  left:50vh;
  border: 2px white solid;
}

#fyf{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px white solid;
  z-index: 1;
}

.tweet{
  border-top: 2px white solid;

  
}

#tweets{
  padding: 5px;
}

.p_img{
    background-color: aqua;
    border-radius: 100%;
    width: 10vh;
    height: 10vh;
    align-content: center;
    box-sizing: border-box;
}

.identity{
  display: flex;
  flex-direction: row;
}

