#home{
  display: flex;
  flex-direction: column;
  width: 90vh;
  position: relative;
  left:70vh;
  top:0;
}

#nav{
  position: fixed;
  left:35vh;
  
}
.layout{
  display: flex;
  flex-direction: row;
}

#fyf{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px rgb(255, 255, 255) solid;
  border-top: 2px white solid;
  z-index: 1;
  position: fixed;
  background-color: black;
  width: 90vh;
  top:0;
}

.tweet{
  border: 1px white solid;
  padding: 5px;
}


#tweets{
  margin: 5px;
  padding: 5px;
  position: relative;
  top:14vh;
}

.p_img{
    background-color: aqua;
    border-radius: 100%;
    width: 10vh;
    height: 10vh;
    align-content: center;
}

.identity{
  display: flex;
  flex-direction: row;
}

#textarea{
  position: relative;
  top:58vh;
}
